    
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a style='color:white;'class="navbar-brand" href="/">Student Grounds</a>
        </div>
        <div style='margin-top:10px;'id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <a href='#' data-toggle="modal" data-target="#myModalLogin"><button style='color:white;background:transparent;' type="button" class="btn btn-default">Login</button></a>
             <a href='#' data-toggle="modal" data-target="#myModalSignup"><button style='margin-right:40px;color:white;background:transparent;' type="button" class="btn btn-default">Sign Up</button></a>
              
            
            </ul>
          
          
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
