{% extends "reg_base.html" %}
{% load i18n %}

{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<style>
    .col-lg-4{
        padding-top:10em;
        opacity:0.80;
    }

    .navbar{
  background:transparent;
  border-bottom:none;
  color:white;
  } 


</style>
<div style='text-align:center;' class='col-lg-4 col-lg-offset-4'>
<div style='border-radius:1em;'class='panel panel-default'>
<div class='panel-body'>
    

<div style='text-align:center;'>
<h4 style='color:black;'>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</h4>
<br>
<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}

<input class='form-control' id="id_email" maxlength="254" name="email" type="email" placeholder="Enter Your Email Address">
 <br><input type="submit" class='btn btn-success' value="{% trans 'Reset my password' %}" /></p>
</form>
</div>
</div><!--panel-body-->
</div><!--panel-default-->
</div><!--col-lg-4-->
{% endblock %}

